/* Navbar.css
.navbar {
  display: flex;
  align-items: center;
}

.navbar-brand {
  flex: 1;
}

.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-nav li {
  margin-right: 10px;
}

.navbar-nav li:last-child {
  margin-right: 0;
}

.nav-separator {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-separator::before {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #fff; 
  margin-right: 10px;
} */
